**/bin/
**/obj/
**/.vs/
**/.vscode/
**/.idea/

.git/
.gitignore
.dockerignore
Dockerfile
README.md
Makefile

*.user
*.suo
*.cache
*.log
*.http
*.jpg
*.jpeg
*.png

appsettings.Development.json
.env
.env.*
Configs/
secrets/
*.pfx
*.pem
*.key
